/* nav  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}
body, html{
    width: 100%;
    overflow-x: hidden;
}

.font-open{
    font-weight: 400;
    font-style: normal;
}

nav{
    width: 96%;
    /* border: 1px solid red; */
    max-width: 1600px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

nav img{
    margin-left: 120px;
    cursor: pointer;
}

nav .btn{
    margin-right: 120px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    color: rgb(20, 15, 15);
    font-size:16px;
    font-weight: 500;
    text-decoration: none;
}

/* hero/banner  */

.hero{
    /* border: 1px solid red; */
    /* setting background image (Credit to Gemini)  */
    background:url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-content{
    background: transparent;
    max-width: 1000px;
    margin: 0px auto;
}

.hero-content h1{
    margin-top: 20px;
    font-size:60px;
    font-style: Bold;
    margin-bottom: 20px;
}

.green-text{
    color:rgba(48, 184, 104, 1);
}

.hero-content p{
    font-size: 18px;
    line-height: 24px;
    opacity: 0.9;
    margin-bottom: 32px;
}

/* buttons  */

.buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.buttons .btn1{
    background-color: #30B868;
    color: white;
    padding: 16.5px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.buttons .btn2{
    border:1px solid #627382;
    color: white;
    padding: 16.5px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav .btn{
    background-color: #30B868;
    color: white;
    padding: 16.5px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav .btn:hover{
    background-color: #0056D2;
}

.buttons a:hover{
    background-color: #0056D2;
}

nav a:hover{
    color: #0056D2;
}

.hero .badge{
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
    cursor: pointer;
}

.hero .badge:hover{
    color: goldenrod;
    background-color: #0056D2;
}